$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true ),
    ),
  )
);

// _utilities.scss

$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true )
    )
  )
);

// 直接迭代 $grays 產生 utilities
@each $name, $val in $grays {
  .text-gray-#{$name}   { color: $val !important; }
  .bg-gray-#{$name}     { background-color: $val !important; }
  .border-gray-#{$name} { border-color: $val !important; }
}

// 服務項目自訂通用樣式

.ser-ill-container{
  width: 636px;
  height: auto;
}



.py-20{
  padding-bottom: 20px;
  padding-top: 20px;
}
.mb-24{
  margin-bottom: 24px;
}
.mb-48{
  margin-bottom: 48px;
}

.my-60{
  margin-bottom: 60px;
  margin-top: 60px;
}
.my-100
{
  margin-top: 100px;
  margin-bottom: 100px;
}

.mb-52{
  margin-bottom: 52px;
}

.gy-4px {
  --bs-gutter-y: 4px;
}

// 文字設定

.custom-line-height-30 {
  line-height: 30px;}

.letter-spacing-22{
  letter-spacing: 2.2px;
}

// 色塊圓角

.custom-rounded-20 {
  border-radius: 20px;}

.custom-rounded-100 {
  border-radius: 100px;}

@import "bootstrap/scss/utilities/api";