$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true ),
    ),
  )
);

// _utilities.scss

$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true )
    )
  )
);

// 直接迭代 $grays 產生 utilities
@each $name, $val in $grays {
  .text-gray-#{$name}   { color: $val !important; }
  .bg-gray-#{$name}     { background-color: $val !important; }
  .border-gray-#{$name} { border-color: $val !important; }
}

// 服務項目自訂通用樣式

.ser-ill-container{
  width: 636px;
  height: auto;
}

.mb-6{
  margin-bottom: 6px;
}
.mb-12{
  margin-bottom: 12px;
}

.py-20{
  padding-bottom: 20px;
  padding-top: 20px;
}
.mb-24{
  margin-bottom: 24px;
}
.mb-48{
  margin-bottom: 48px;
}
.my-100
{
  margin-top: 100px;
  margin-bottom: 100px;
}

.mb-52{
  margin-bottom: 52px;
}

.gy-4px {
  --bs-gutter-y: 4px;
}


@import "bootstrap/scss/utilities/api";