<footer class="bg-primary-100 py-52">
  <div class="container">
    <div class="footer d-flex jistify-content-space-between align-items-center">
        <!--右側資訊-->
      <div class="d-flex align-items-center">
        <img
          src="../assets/images/Status=Default.png"
          alt="logo"
          class="logo-img me-44"
        />
        <div>
          <p class="fs-5 lh-lg text-gray-400 mb-1">電話 04-323-1234</p>
          <p class="fs-5 lh-lg text-gray-400">地址 411臺中市太平區福興街21號</p>
        </div>
      </div>
      <!--左側social media-->
      <div></div>
    </div>
    <div class="copyright"></div>
  </div>
</footer>
