<footer class="bg-primary-100 py-52">
  <div class="container">
    <div class="footer d-flex justify-content-between align-items-md-center align-items-start">
      <!--左側資訊-->
      <div class="footer-left d-flex align-items-md-center align-items-start">
        <img
          src="../assets/images/Status=Default.png"
          alt="logo"
          class="footer-logo-img me-44"
        />
        <div class="footer-info">
          <p class="fs-5 lh-lg text-gray-400 mb-1">電話 04-323-1234</p>
          <p class="fs-5 lh-lg text-gray-400">地址 411臺中市太平區福興街21號</p>
        </div>
      </div>
      <!--右側social media-->
      <div class="footer-right d-flex align-items-center gap-3">
        <a href="#"
          ><img src="../assets/images/Line.svg" alt="Line"
        /></a>
        <a href="#"
          ><img src="../assets/images/IG.svg" alt="IG"
        /></a>
        <a href="#"><img src="../assets/images/FB.svg" alt="FB" /></a>
        <a href="#"><img src="../assets/images/youtube.svg" alt="youtube" /></a>
      </div>
    </div>
    <div class="d-flex align-items-md-center align-items-start align-items-bottom pt-60">
      <p class="fs-7 text-gray-400">2025© 驛站諮商所  All RIGHTS RESERVED.</p>
    </div>
  </div>
</footer>
