<!-- sheena編輯區 -->
<!-- 服務項目 Section -->
  <div class="container my-100">

    <!-- 標題 -->
    <h2 class="text-center fw-semibold  mb-52 text-primary-1000 ">服務項目</h2>

    <!-- 成人個別諮商 -->
      <div class="row row-cols-1 row-cols-lg-2 align-items-center ser-container gx-6 gy-9 mb-48 ">
      <div class="col align-items-center">
        <img class="ser-ill-container" src="/assets/images/ill1.png" alt="成人個別諮商插畫" class="img-fluid">
      </div>
      <div class="col align-items-center " >
        <h3 class="h3 fw-bold mb-3">成人個別諮商</h3>
        <p class="text-gray-800 fs-5 mb-1 ">
          在忙碌生活中照顧自己的心。
        </p>
        <p class="text-gray-800 fs-5 mb-6 custom-line-height-30 letter-spacing-22">
          無論是焦慮、低潮、人際困擾，讓心理師陪你一起釐清與前行。
          </p>
        <div class="text-primary-1000 ">
          <ul class="mb-5 bg-primary-200 ps-4 py-5 fs-5 custom-line-height-30 letter-spacing-22 custom-rounded-20 ">
            <div class="sheena-list">
            <li class="mb-1" >情緒議題、原生家庭議題</li>
            <li class="mb-1 " >親密關係、人際關係</li>
            <li class="mb-1 " >親職諮詢、與重要的人離別</li>
            <li class="mb-1 " >生涯規劃、自我探索與成長</li>
            </div>
          </ul>
        </div>
      </div>
      </div>

    <!-- 伴侶諮商  -->
       <div class="row row-cols-1 row-cols-lg-2 align-items-center ser-container gx-6 gy-9 mb-48 ">
      <div class="col align-items-center " >
        <h3 class="h3 fw-bold mb-3">伴侶諮商</h3>
        <p class="text-gray-800 fs-5 mb-1 ">
          關係中難免有摩擦與沉默。
        </p>
        <p class="text-gray-800 fs-5 mb-6 custom-line-height-30 letter-spacing-22">
          我們協助你們更好地聆聽、溝通，重新找到愛與理解的連結。
          </p>
        <div class="text-primary-1000 ">
          <ul class="mb-5 bg-primary-200 ps-4 py-5 fs-5 custom-line-height-30 letter-spacing-22 custom-rounded-20 ">
            <div class="sheena-list">
            <li class="mb-1" >溝通困難、情感疏離</li>
            <li class="mb-1 " >衝突升溫、親密與性</li>
            <li class="mb-1 " >育兒歧見、外遇與信任</li>
            <li class="mb-1 " >分手或離婚調適</li>
            <li class="mb-1 " >關係修復與重建</li>
            </div>
          </ul>
        </div>
      </div>
      <div class="col align-items-center">
        <img class="ser-ill-container" src="/assets/images/ill2.png" alt="成人個別諮商插畫" class="img-fluid">
      </div>
      </div>
    <!-- 兒童青少年 -->
       <div class="row row-cols-1 row-cols-lg-2 align-items-center ser-container gx-6 gy-9 mb-48 ">
      <div class="col align-items-center">
        <img class="ser-ill-container" src="/assets/images/ill3.png" alt="成人個別諮商插畫" class="img-fluid">
      </div>
      <div class="col align-items-center " >
        <h3 class="h3 fw-bold mb-3">兒童青少年</h3>
        <p class="text-gray-800 fs-5 mb-1 ">
         孩子的情緒也需要被理解。
        </p>
        <p class="text-gray-800 fs-5 mb-6 custom-line-height-30 letter-spacing-22">
         透過遊戲、對話、觀察，幫助孩子安心表達，家長放心陪伴。
          </p>
        <div class="text-primary-1000 ">
          <ul class="mb-5 bg-primary-200 ps-4 py-5 fs-5 custom-line-height-30 letter-spacing-22 custom-rounded-20 ">
            <div class="sheena-list">
            <li class="mb-1" >情緒困擾、行為改變</li>
            <li class="mb-1 " >學校適應、人際衝突</li>
            <li class="mb-1 " >親子溝通、身體議題</li>
            <li class="mb-1 " >親子溝通、身體議題</li>
            <li class="mb-1 " >

            </li>
            </div>
          </ul>
        </div>
      </div>
      </div>
  </div>
</section>


