.logo-img {
  width: 116px;
  height: 48px;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: 0.75rem;
  }

  .navbar-nav .nav-link {
    font-size: 1rem; /* 16px */
    font-weight: 700;
    padding-inline: 8px;
  }

  .navbar .btn-cta {
    margin-top: 20px;
    width: 100%;
  }
}
