<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Noto+Serif+TC:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <title>驛站好好休息諮商所</title>

    <!-- top浮動按鈕 -->
    <style>
      /* top側邊浮動圖片按鈕 */
    .floating-btn {
      position: fixed;
      right: 20px;
      bottom: 50%;
      transform: translateY(50%);
      z-index: 999;
    }
    .floating-btn img {
      width: 75px;   /* top按鈕大小，可依需求調整 */
      height: 75px;
      border-radius: 20%;
      cursor: pointer;
      transition: transform 0.3s, box-shadow 0.3s;
    }
    .floating-btn img:hover {
      transform: scale(1.1);
      box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    }

    #block1 
    #block2 
    #block3 { background: #d4edda; }

    </style>
  </head>
  <body>

<!-- top浮動圖片按鈕 -->
  <a href="#block1" class="floating-btn">
    <img src="/assets/images/top.png" alt="錨點按鈕">
  </a>


    <%- include('./layout/header'); -%>
    <section class="banner d-flex align-items-center" id="block1">
      <div class="container text-center">
        <h1 class="banner-title h1 fw-bold text-white mb-8">
          日常中停靠．為心靈補給
        </h1>
        <p class="banner-subtitle fs-5 text-white mb-2">放慢腳步，說說心事</p>
        <p class="banner-subtitle fs-5 text-white mb-2">
          這裡是驛站，也是一處安心停靠的角落
        </p>
        <p class="banner-subtitle fs-5 text-white mb-2">
          不用急著變好，只需先停下來
        </p>
        <p class="banner-subtitle fs-5 text-white mb-8">
          我們陪你聽見內心的聲音
        </p>
        <div class="social d-flex justify-content-center align-items-center">
          <p class="fs-5 text-white me-8">聯絡我們</p>
          <a href="#" class="me-4"
            ><img src="../assets/images/Line-white.svg" alt="Line"
          /></a>
          <a href="#" class="me-4"
            ><img src="../assets/images/IG-white.svg" alt="Line"
          /></a>
          <a href="#" class="me-4"
            ><img src="../assets/images/FB-white.svg" alt="Line"
          /></a>
          <a href="#" class="me-4"
            ><img src="../assets/images/youtube-white.svg" alt="Line"
          /></a>
        </div>
      </div>
      <img
        src="../assets/images/Subtract.svg"
        alt=""
        aria-hidden="true"
        class="banner-curve"
      />
    </section>
 <%- include('./layout/serve'); -%>
  
    <!-- 輪播區 -->
    <section class="hero-section-gradient px-0 py-0" >
      <div class="container mx-lg-auto py-lg-12 py-9" style="padding-top: 100px; padding-bottom: 100px;">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <!-- <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div> -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class=" position-relative rounded-2">
                <img class="d-block rounded-2" style="margin-bottom: 28px; width: 856px;" src="../assets/images/new1.png" alt="">
                <!-- 手機版才出現文字 -->
                <div class="d-lg-none d-block">
                  <p class="mb-2 lh-lg" style="letter-spacing: 0.09em; color: #7A6D5D;">2025/09/28（六）13:30–16:00</p>
                  <h4 class="lg-base mb-5 fw-bold textSerifTC" style="letter-spacing: 0.12em; color: #333333;">給自己的安靜時光：情緒覺察與寫作工作坊</h4>
                  <p class="lh-lg mb-1" style="letter-spacing: 0.09em; color: #333333;">透過書寫，與內在聲音重新對話</p>
                  <p class="lh-lg mb-6" style="letter-spacing: 0.09em; color: #333333;">在柔和空間中進行簡單引導與自由書寫，無需寫作經驗，心理師帶領你用文字探索內在感受，適合想自我照顧、暫時離開混亂日常的人參加。</p>
                  <div class="lh-lg py-5 px-6 rounded-2" style="font-size: 14px; background-color: #F3EEE8; color: #7A6D5D;">
                    <p class="mb-1" style="letter-spacing: 0.07em;">880 元（含紙筆材料、茶點）</p>
                    <p style="letter-spacing: 0.07em;">體驗型工作坊・適合初次接觸心理探索者</p>
                  </div>
                </div>
                <div class="bg-white position-absolute rounded-top-2" style="width: 39rem; left: 660px; top: 100px;">
                  <div class="pt-7 pb-6" style="padding-right: 36px; padding-left: 36px;">                  
                    <p class="mb-2" style="font-size: 20px; letter-spacing: 0.11em; color: #655A4A;">2025/09/28（六）13:30–16:00</p>
                    <a href="post.html"><h3 class="title mb-6 textSerifTC fw-bold" style="letter-spacing: 0.13em;">給自己的安靜時光：情緒覺察與寫作工作坊</h3></a>
                    <a href="post.html"><p class="mb-2" style="font-size: 20px; letter-spacing: 0.11em;">透過書寫，與內在聲音重新對話</p></a>
                    <a href="post.html"><p class="mb-6" style="font-size: 20px; letter-spacing: 0.11em;">在柔和空間中進行簡單引導與自由書寫，無需寫作經驗，心理師帶領你用文字探索內在感受，適合想自我照顧、暫時離開混亂日常的人參加。</p></a>                 
                  </div>
                </div>
                <div class="bgbrown200 position-absolute rounded-bottom-2" style="width: 39rem; left: 660px; top: 404px;">
                  <div class="py-6" style="padding-left: 36px; color: #7A6D5D;">
                    <a href="post.html"><p class="mb-1" style="line-height: 30px; font-size: 20px; letter-spacing: 0.11em;">880 元（含紙筆材料、茶點）</p></a>
                    <a href="post.html"><p class="" style="line-height: 30px; font-size: 20px; letter-spacing: 0.11em;">體驗型工作坊・適合初次接觸心理探索者</p></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class=" position-relative rounded-2">
                <img class="d-block rounded-2" style="margin-bottom: 28px; width: 856px;" src="../assets/images/new2.png" alt="">
                <!-- 手機版才出現文字 -->
                <div class="d-lg-none d-block">
                  <p class="mb-2 lh-lg" style="letter-spacing: 0.09em; color: #7A6D5D;">最新一集 YouTube 上線｜驛站療癒頻道</p>
                  <h4 class="lg-base mb-5 fw-bold textSerifTC" style="letter-spacing: 0.12em; color: #333333;">當你覺得「沒有力氣」的時候，可以怎麼陪伴自己？</h4>
                  <a href="post.html"><p class="lh-lg mb-1" style="letter-spacing: 0.09em; color: #333333;">這集邀請你一起練習：不勉強、不責備</p></a>
                  <p class="lh-lg mb-6" style="letter-spacing: 0.09em; color: #333333;">我們和兩位諮商師一起聊聊「沒有力氣」的狀態——那不是你懶惰或不夠好，而是身心正在告訴你：你已經很努力了。讓我們一起練習在低潮中，溫柔地陪伴自己</p>
                  <div class="lh-lg py-5 px-6 rounded-2" style="font-size: 14px; background-color: #F3EEE8; color: #7A6D5D;">
                    <p class="mb-1" style="letter-spacing: 0.07em;">郭承修與楊品如諮商師陪你聊聊天</p>
                    <p style="letter-spacing: 0.07em;">給正在撐著的你，一點溫柔的陪伴。</p>
                  </div>
                </div> 
                <div class="bg-white position-absolute rounded-top-2" style="width: 39rem; left: 660px; top: 100px;">
                  <div class="pt-7 pb-6" style="padding-right: 36px; padding-left: 36px;">                  
                    <a href="post.html"><p class=" mb-2" style="font-size: 20px; letter-spacing: 0.11em; color: #655A4A;">最新一集 YouTube 上線｜驛站療癒頻道</p></a>
                    <a href="post.html"><h3 class="-title mb-6 textSerifTC fw-bold" style="letter-spacing: 0.13em;">當你覺得「沒有力氣」的時候，可以怎麼陪伴自己？</h3></a>

                    <a href="post.html"><p class=" mb-2" style="font-size: 20px; letter-spacing: 0.11em;">這集邀請你一起練習：不勉強、不責備</p></a>

                    <a href="post.html"><p class=" mb-6" style="font-size: 20px; letter-spacing: 0.11em;">我們和兩位諮商師一起聊聊「沒有力氣」的狀態——那不是你懶惰或不夠好，而是身心正在告訴你：你已經很努力了。讓我們一起練習在低潮中，溫柔地陪伴自己</p></a>               
                  </div>
                </div>
                <div class="bgbrown200 position-absolute rounded-bottom-2" style="width: 39rem; left: 660px; top: 404px;">
                  <div class="py-6" style="padding-left: 32px; color: #7A6D5D;">
                    <a href="post.html"><p class="mb-1" style="line-height: 30px; font-size: 20px; letter-spacing: 0.11em;">郭承修與楊品如諮商師陪你聊聊天</p></a>

                    <a href="post.html"><p class="" style="line-height: 30px; font-size: 20px; letter-spacing: 0.11em;">給正在撐著的你，一點溫柔的陪伴。</p></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class=" position-relative rounded-2">
                <img class="d-block rounded-2" style="margin-bottom: 28px; width: 856px;" src="../assets/images/new3.png" alt="">
                <!-- 手機版才出現文字 -->
                <div class="d-lg-none d-block">
                  <p class="mb-2 lh-lg" style="letter-spacing: 0.09em; color: #7A6D5D;">驛站週報 2025/08/1</p>
                  <h4 class="lg-base mb-5 fw-bold textSerifTC" style="letter-spacing: 0.12em; color: #333333;">兩性關係</h4>
                  <p class="lh-lg mb-1" style="letter-spacing: 0.09em; color: #333333;">當關係出現裂痕：關於外遇，我們怎麼理解？</p>
                  <p class="lh-lg mb-11" style="letter-spacing: 0.09em; color: #333333;">不是定罪，而是理解；不是急著選擇，而是練習聽見內心。關係的痛，從不是一個人造成的故事。</p>
                  <div class="lh-lg py-5 px-6 rounded-2" style="font-size: 14px; background-color: #F3EEE8; color: #7A6D5D;">
                    <p class="mb-1" style="letter-spacing: 0.07em;">陳彥如諮商師撰文</p>
                    <p style="letter-spacing: 0.07em;">陪你看見裂縫裡的情緒、需求與選擇空間。</p>
                  </div>
                </div> 
                <div class="bg-white position-absolute rounded-top-2" style="width: 39rem; left: 660px; top: 100px;">
                  <div class="pt-7 pb-6" style="padding-left: 36px; padding-right: 36px;">                  
                    <a href="post.html"><p class=" mb-2" style="font-size: 20px; letter-spacing: 0.11em; color: #655A4A;">驛站週報 2025/08/1</p></a>
                    <h3 class="-title mb-6 textSerifTC fw-bold" style="letter-spacing: 0.13em;">兩性關係</h3>
                    <a href="post.html"><p class="mb-2" style="font-size: 20px; letter-spacing: 0.11em;">當關係出現裂痕：關於外遇，我們怎麼理解？</p></a>
                    <a href="post.html"><p class="mb-6" style="font-size: 20px; letter-spacing: 0.11em;">不是定罪，而是理解；不是急著選擇，而是練習聽見內心。關係的痛，從不是一個人造成的故事。</p></a>                 
                  </div>
                </div>
                <div class="bgbrown200 position-absolute rounded-bottom-2" style="width: 39rem; left: 660px; top: 349px;">
                  <div class="py-6" style="padding-left: 36px; color: #7A6D5D;">
                    <a href="post.html"><p class="mb-1" style="line-height: 30px; font-size: 20px; letter-spacing: 0.11em;">陳彥如諮商師撰文</p></a>
                    <a href="post.html"><p class="" style="line-height: 30px; font-size: 20px; letter-spacing: 0.11em;">陪你看見裂縫裡的情緒、需求與選擇空間。</p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div> 
      </div>
    </section>

    <!-- 諮商團隊 -->
     <%- include('layout/doctor-team') %>



    <!-- 環境 -->
 <section class="photo py-100 bg-primary-100">
      <div class="container text-center">
        <h2 class="photo-title h2 fw-bold mb-52">看看我們的空間</h2>

        <!-- Swiper -->
        <div class="swiper photo-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="photo-item text-start">
                <img
                  src="../assets/images/寬敞的迎賓空間.png"
                  alt="寬敞的迎賓空間"
                />
                <h6 class="mt-4 fs-4 fw-bold">寬敞的迎賓空間</h6>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="photo-item text-start">
                <img
                  src="../assets/images/自然採光的舒適環境.png"
                  alt="自然採光的舒適環境"
                />
                <h6 class="mt-4 fs-4 fw-bold">自然採光的舒適環境</h6>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="photo-item text-start">
                <img
                  src="../assets/images/明亮舒適的諮商空間.png"
                  alt="明亮舒適的諮商室"
                />
                <h6 class="mt-4 fs-4 fw-bold">明亮舒適的諮商室</h6>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="photo-item text-start">
                <img
                  src="../assets/images/environment1.png"
                  alt="柔和的光影氛圍"
                />
                <h6 class="mt-4 fs-4 fw-bold">柔和的光影氛圍</h6>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="photo-item text-start">
                <img
                  src="../assets/images/environment3.png"
                  alt="純淨的雅緻空間"
                />
                <h6 class="mt-4 fs-4 fw-bold">純淨的雅緻空間</h6>
              </div>
            </div>
          </div>
        </div>

        <!-- 導航按鈕，放在 swiper 外面 -->
        <div class="photo-nav d-flex gap-4 mt-6">
           <!-- 導航按鈕 -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  

  
  </body>
</html>


