<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>心靈工作坊</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="bg-primary-100 py-11">
      <div class="container">
        <!--breadcrumb-->
        <nav aria-label="breadcrumb" class="mb-8">
          <ol class="breadcrumb d-flex">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              心靈工作坊
            </li>
          </ol>
        </nav>
        <div class="row">
          <!--sidebar-->
          <aside class="sidebar-nav col-lg-2 d-lg-block d-none sticky-top">
            <h2 class="sidebar-title">心靈工作坊</h2>
            <ul class="nav flex-column">
              <li><a href="#" class="nav-link">實體課程 </a></li>
              <li><a href="#" class="nav-link">線上影音</a></li>
              <li><a href="#" class="nav-link">驛站文章</a></li>
            </ul>
          </aside>

          <!--main content -->
          <section class="workshop col-lg-10 col-12">
            <!--swiper-->
            <div class="swiper workshop-swiper">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                  <div class="ws-slide">
                    <figure class="ws-hero">
                      <img
                        src="/assets/images/給自己的安靜時光：情緒覺察與寫作工作坊.png"
                        alt=""
                      />
                    </figure>

                    <!-- 右側重疊卡片 -->
                    <article class="ws-card">
                      <p class="ws-meta">2025/09/28（六）13:30–16:00</p>
                      <h3 class="ws-title">
                        給自己的安靜時光：情緒覺察與寫作工作坊
                      </h3>
                      <div class="ws-desc">
                        <p class="mb-2">透過書寫，與內在聲音重新對話</p>
                        <p>
                          在柔和空間中進行簡單引導與自由書寫，無需寫作經驗，心理師帶領你用文字探索內在感受，適合想自我照顧、暫時離開混亂日常的人參加。
                        </p>
                      </div>
                      <div class="ws-list">
                        <p>880 元（含紙筆材料、茶點）</p>
                        <p>體驗型工作坊・適合初次接觸心理探索者</p>
                      </div>
                    </article>

                    <!-- If we need navigation buttons -->
                    <div class="workshop-nav d-flex gap-4">
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="ws-slide">
                    <figure class="ws-hero">
                      <img src="/assets/images/Rectangle 13.png" alt="" />
                    </figure>

                    <!-- 右側重疊卡片 -->
                    <article class="ws-card">
                      <p class="ws-meta">【體驗講座】2025.08.10</p>
                      <h3 class="ws-title">你怎麼了？談外遇背後的關係風景</h3>
                      <div class="ws-desc">
                        <p class="mb-2">透過書寫，與內在聲音重新對話</p>
                        <p>
                          在柔和空間中進行簡單引導與自由書寫，無需寫作經驗，心理師帶領你用文字探索內在感受，適合想自我照顧、暫時離開混亂日常的人參加。
                        </p>
                      </div>
                      <div class="ws-list">
                        <p>880 元（含紙筆材料、茶點）</p>
                        <p>體驗型工作坊・適合初次接觸心理探索者</p>
                      </div>
                    </article>

                    <!-- If we need navigation buttons -->
                    <div class="workshop-nav d-flex gap-4">
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="ws-slide">
                    <figure class="ws-hero">
                      <img src="/assets/images/Rectangle 13-1.png" alt="" />
                    </figure>

                    <!-- 右側重疊卡片 -->
                    <article class="ws-card">
                      <p class="ws-meta">【靜心寫作1日工作坊】2025.8.2</p>
                      <h3 class="ws-title">寫下未說出口的話</h3>
                      <div class="ws-desc">
                        <p class="mb-2">透過書寫，與內在聲音重新對話</p>
                        <p>
                          在柔和空間中進行簡單引導與自由書寫，無需寫作經驗，心理師帶領你用文字探索內在感受，適合想自我照顧、暫時離開混亂日常的人參加。
                        </p>
                      </div>
                      <div class="ws-list">
                        <p>880 元（含紙筆材料、茶點）</p>
                        <p>體驗型工作坊・適合初次接觸心理探索者</p>
                      </div>
                    </article>

                    <!-- If we need navigation buttons -->
                    <div class="workshop-nav d-flex gap-4">
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="ws-slide">
                    <figure class="ws-hero">
                      <img src="/assets/images/Rectangle 13-2.png" alt="" />
                    </figure>

                    <!-- 右側重疊卡片 -->
                    <article class="ws-card">
                      <p class="ws-meta">【關係修復課程】2025.10.18-2026.01.31</p>
                      <h3 class="ws-title">從裂縫出發：親密關係的修復與重建</h3>
                      <div class="ws-desc">
                        <p class="mb-2">透過書寫，與內在聲音重新對話</p>
                        <p>
                          在柔和空間中進行簡單引導與自由書寫，無需寫作經驗，心理師帶領你用文字探索內在感受，適合想自我照顧、暫時離開混亂日常的人參加。
                        </p>
                      </div>
                      <div class="ws-list">
                        <p>880 元（含紙筆材料、茶點）</p>
                        <p>體驗型工作坊・適合初次接觸心理探索者</p>
                      </div>
                    </article>

                    <!-- If we need navigation buttons -->
                    <div class="workshop-nav d-flex gap-4">
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--posts card-->
            <div class="post row">
              <div class="post-card col-md-4 col-12">
                <a href="#">
                  <img class="post-card-img" src="../assets/images/Rectangle 13.png" alt="你怎麼了？談外遇背後的關係風景">
                  <div class="post-card-detail">
                    <p class="post-meta">【體驗講座】2025.08.10</p>
                    <h2 class="post-title">你怎麼了？談外遇背後的關係風景</h2>
                  </div>
                </a>
              </div>

              <div class="post-card col-md-4 col-12">
                <a href="#">
                  <img class="post-card-img" src="../assets/images/Rectangle 13.png" alt="你怎麼了？談外遇背後的關係風景">
                  <div class="post-card-detail">
                    <p class="post-meta">【體驗講座】2025.08.10</p>
                    <h2 class="post-title">你怎麼了？談外遇背後的關係風景</h2>
                  </div>
                </a>
              </div>

              <div class="post-card col-md-4 col-12">
                <a href="#">
                  <img class="post-card-img" src="../assets/images/Rectangle 13.png" alt="你怎麼了？談外遇背後的關係風景">
                  <div class="post-card-detail">
                    <p class="post-meta">【體驗講座】2025.08.10</p>
                    <h2 class="post-title">你怎麼了？談外遇背後的關係風景</h2>
                  </div>
                </a>
              </div>

              <div class="post-card col-md-4 col-12">
                <a href="#">
                  <img class="post-card-img" src="../assets/images/Rectangle 13.png" alt="你怎麼了？談外遇背後的關係風景">
                  <div class="post-card-detail">
                    <p class="post-meta">【體驗講座】2025.08.10</p>
                    <h2 class="post-title">你怎麼了？談外遇背後的關係風景</h2>
                  </div>
                </a>
              </div>

              <div class="post-card col-md-4 col-12">
                <a href="#">
                  <img class="post-card-img" src="../assets/images/Rectangle 13.png" alt="你怎麼了？談外遇背後的關係風景">
                  <div class="post-card-detail">
                    <p class="post-meta">【體驗講座】2025.08.10</p>
                    <h2 class="post-title">你怎麼了？談外遇背後的關係風景</h2>
                  </div>
                </a>
              </div>

              <div class="post-card col-md-4 col-12">
                <a href="#">
                  <img class="post-card-img" src="../assets/images/Rectangle 13.png" alt="你怎麼了？談外遇背後的關係風景">
                  <div class="post-card-detail">
                    <p class="post-meta">【體驗講座】2025.08.10</p>
                    <h2 class="post-title">你怎麼了？談外遇背後的關係風景</h2>
                  </div>
                </a>
              </div>

              <div class="post-card col-md-4 col-12">
                <a href="#">
                  <img class="post-card-img" src="../assets/images/Rectangle 13.png" alt="你怎麼了？談外遇背後的關係風景">
                  <div class="post-card-detail">
                    <p class="post-meta">【體驗講座】2025.08.10</p>
                    <h2 class="post-title">你怎麼了？談外遇背後的關係風景</h2>
                  </div>
                </a>
              </div>

              <div class="post-card col-md-4 col-12">
                <a href="#">
                  <img class="post-card-img" src="../assets/images/Rectangle 13.png" alt="你怎麼了？談外遇背後的關係風景">
                  <div class="post-card-detail">
                    <p class="post-meta">【體驗講座】2025.08.10</p>
                    <h2 class="post-title">你怎麼了？談外遇背後的關係風景</h2>
                  </div>
                </a>
              </div>

              <div class="post-card col-md-4 col-12">
                <a href="#">
                  <img class="post-card-img" src="../assets/images/Rectangle 13.png" alt="你怎麼了？談外遇背後的關係風景">
                  <div class="post-card-detail">
                    <p class="post-meta">【體驗講座】2025.08.10</p>
                    <h2 class="post-title">你怎麼了？談外遇背後的關係風景</h2>
                  </div>
                </a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
